<div class="finalPageGraph">
        <div  id="graphDiv" class="finalGraphBody">
          <canvas id="myChart" width="1450" height="350"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red'],
                datasets: [{
                    label: 'Past Week Moods',
                    data: [5, 8, 2, 7, 6, 8, 10],
                }]
            },
            options: {
              responsive: false
                
            }
        });
    </script>
        </div>
      </div><!-- ens div for graph-->



      <div  class="modelDiv">
        <div class="modelDivBody">
          This is some text within a card body.
        </div>
      </div><!-- end modeldiv-->


      <div  class="flexconGraph">
      
      <button type="button" class="btn btn-light">Weather</button>
      <button type="button" class="btn btn-light">With People</button>
      <button type="button" class="btn btn-light">Medication</button>

      </div>



    </div><!--end conatiner-->
    <!--body for handlbars-->