form.signup,
form.login {
  margin-top: 50px;
}
/* .container{
  width:100%;
} */
.form-check{
  float: right;
}

.flexconDiary { display:flex;
     
  font-size: 25px;
  float: left;  
  width:100%;
 }

 .checkBoxContainer{
    margin-top: 20px;
 }

 .weatherBox{
    display: flex;
    justify-content: flex-end;
    border-style: solid;
    border-width: 2px;
    height: 45px;
    width: 45px;
   float: right;
 }

 .ratingDiv{
    border-style: solid;
    /* border-width: 1px; */
    height: 50px;
    width: 40%;
    padding-left: 10px;
    padding-top: 4px;
 }


 .submitButton{
     margin-top: 20px;
 }

 .finalPageGraph{

  border-style: none;
  border-width: 1px;
  margin-top: 20px;
  height: 360px;
}

.modelDivBody{

  border-style: solid;
  border-width: 3px;
  margin-top: 20px;
  height: 200px;

}

.flexconGraph{
  display:flex;
  justify-content: space-between;
  margin-top: 15px;
}

.graphBody {
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.pastEntryBody, .pointEntryBody, .pastTenEntryBody {
  border-color: slategray;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.pastEntryButton{
    margin-bottom: 2px;  
}

.mood-question-block {
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}

.zip-inline {
  display: inline-flex;
}

.required-label:after {
  content:"*";
  color:red;
}

.flexcon {
  margin-top: 25px;
}

.radio-group {
  font-size: medium;
}


.radio-1 {
  margin: 5px;
}

.radio-2 {
  margin: 5px;
}

#diaryDiv {
  width: 2000px;
  float: left;
}

#accountDiv {
  width: 1500px;
  float: left;
}

.hide {
  display: none;
}

.graphButtons {
  margin-bottom: 40px;
}

.btn{
  display:flex;
  justify-content: space-between;
  color: white;
  float: right;
  background-color: #d1253c;
  border-color: #d1253c;
  text-transform: none;
  margin-right: 40px;
  position:relative;
}

#wicon {
  min-height: 80px;
  min-width: 80px;
  background-color: gainsboro;
}
#logoutId {
  float: right;
}

.backgroundColor{
  background-color: rgb(235, 231, 231);
}

.iconColor{
  color:#ff6f69;
}

.navbarColor {
  background-color: #96ceb4;
  height: 100px;
}

#moodyMainTitle {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 200%;
  color:#ff6f69;
  text-align: center;  
}

#moodyTitle {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 140%;
  color:#ff6f69;
  text-align: center;
  padding-bottom: 20px;
}

.center {
  display: block;
  margin-left:auto;
  margin-right: auto;
  width: 20%;
  float:left;
}

.signUpHeader{
  color: #96ceb4;
  font-size: 50px;
  font-weight: bolder;
}

.signUpFont{
 font-size: xx-large;
 color: #96ceb4;
}

.orLogInFont{
  color:#158CBA;
  font-size: 20px;
}

.navbar-default{
  background-color: #96ceb4;
  width: 100%;
  border-radius: 0px;
}
.membersTitle{
  text-align: center;
  font-size: xx-large;
  color: #ff6f69;
  font-weight: bold;
  float: center;
}

.recordAMood{
  font-size: xx-large;
  color: #ff6f69;
  font-weight: bold;
}

.diaryBubbles{
  font-size: xx-large;
  color: #ff6f69;
  font-weight: bold;
}
h4{
  color: #ff6f69;
  font-weight: bold;
}
.navbar-brand{
  font-size: 180%;
  font-weight: bold;
  float:left;
}
#moodyHeader {
  font-size: 50px;
  font-family: 'Akaya Telivigala', cursive;
  color:#ff6f69;
}

.container-fluid {
  justify-content: center;
}